
<div class="hero">
  <h1>Any Ipsum</h1>
  <h5>An API to build any placeholder text you desire</h5>
</div>

<div class="form">
  <form>
    I want
    <select name="paragraphs" class="paragraphs">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3" selected>3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
    </select>
    paragraphs of <input type="text" name="word" class="word"> ipsum.
    <input type="submit" class="submit" value="SUBMIT">
  </form>
</div>

<div class="ipsum-container">
</div>

<div class="container">

  <h2>How to Use the API</h2>

  <h3>Request:</h3>
  <p><small>Any Ipsum may be requested by using a standard HTTP GET request as shown below:</small></p>
  <p><code>http://www.anyipsum.com/api/term/<strong>{term}</strong>/paragraphs/<strong>{number of paragraphs}</strong></code></p>
  <p><small>Insert your own parameters into the URL to configure:</small></p>
  <p><code>http://www.anyipsum.com/api/term/<strong>bacon</strong>/paragraphs/<strong>1</strong></code></p>

  <h3>Response:</h3>

  <script src="https://gist.github.com/andmcgregor/cd68a03e2d0d752884f6.js"></script>
</div>

<footer>Created by <a href="https://github.com/Ank13">Ank13</a>, <a href="https://github.com/JustAboutJeff">JustAboutJeff</a> and <a href="https://github.com/andmcgregor">andmcgregor</a></footer>
