<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Any Ipsum</title>

  <!-- Selected Google fonts: -->
  <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>

  <!-- CSS Style Sheet -->
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
  <a href="https://github.com/andmcgregor/any-ipsum"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

  <%= yield %>

  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src='/js/customSelect.jquery.js'></script>
  <script src='/js/application.js'></script>
</body>
</html>
