body {
  background: #e74c3c;
}

::selection {
  background: #c13e32; /* Safari */
  color: #fff;
  }
::-moz-selection {
  background: #c13e32; /* Firefox */
  color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  margin-top: 0;
}

div.hero > h1 {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 5px;
  color: #fff;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
}

div.hero > h5 {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

/* Ipsum Data */

.ipsum-container {
  width: 80%;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 5px 0px 0px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.05);
   -moz-box-shadow:   0 5px 0px 0px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.05);
        box-shadow:   0 5px 0px 0px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.05);
}

/* Form */

.form {
  width: 650px;
  height: 40px;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
}

input {
  margin: auto 5px;
}

input:focus {
  background: #CE3323;
}

select {
  margin: auto 5px;
  font-size: 50px;
}

.word:focus {
  outline: 0;
}

.word {
  background: transparent;
  width: 100px;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.paragraphs {
  background: transparent;
  width: 30px;
  padding-left: 10px;
  height: 40px;
  border: 0;
  font-size:30px;
  -webkit-appearance: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}

.paragraphs:focus {
  outline: 0;
  background: #CE3323;
}

.submit {
  display: inline-block;
  margin-bottom: 10px;
  background: #fff;
  color: #e74c3c;
  border: 0;
  padding: 10px;
  font-size: 17px;
  font-weight: 800;
  transition: background-color 0.5s ease;
  -webkit-box-shadow: 0 2px 0px 0px rgba(0,0,0,0.25);
   -moz-box-shadow:   0 2px 0px 0px rgba(0,0,0,0.25);
        box-shadow:   0 2px 0px 0px rgba(0,0,0,0.25);
}

.submit:hover {
  background: #CE3323;
  color: #fff;
}

/* Instructions */

.container {
  width: 80%;
  max-width: 1500px;
  margin: 40px auto;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 5px 0px 0px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.05);
   -moz-box-shadow:   0 5px 0px 0px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.05);
        box-shadow:   0 5px 0px 0px rgba(0,0,0,0.25), inset 0 0 0 4px rgba(0,0,0,0.05);
}

code {
  border: 1px solid #E0E0E0;
  background: #E9E9E9;
  padding: 0 4px;
}

.gist-meta {
  display: none;
}

.gist {
  font-size: 15px;
}

/* Footer */

footer {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

footer a {
  background: #CE3323;
  text-decoration: none;
  padding: 1px 7px;
  color: #fff;
  transition: background-color 0.5s ease;
  font-weight: 500;
}

footer a:hover {
  background: #fff;
  color: #CE3323;
}
